language: ruby

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
  - rbx-2

before_install:
  - gem install bundler

matrix:
  allow_failures:
  - rvm: rbx-2

env:
  global:
    - secure: aWdqnTxny11jaZicGOMPSZVIvHMFbI4jS6OKdLkjJCHLMa/z/Hqq6ySHYa6GbZT3zfDSZDqKm16I9a2o9nSZAGiG74399VWL36lhpiMUFYUX/WcGHVDbdgJvI7K8xZwadoV6QPKy6kAWIStKPKkbkx6Qp7txHnVwprwC7lGBWPI=
    - secure: YZ5y9ZYY00aN2CN0xSgaqIgu2WcgoD/NrrOFSRWOwGUP903MKTFdLGAennDAV3fNdUNEBOJYZgHnKIWFixmJhd96qe1JPLpA3MYPk2rgGSmyDjKRCHyp0nG//+x4GtSDCokieQ5/2KFv26ocTh9JCNQQC4/2ujIuFOrw3lRS6fo=
    - secure: nKk9NYK0KpiT2GWAGtmcXMqlm9BAYQiVhsX9RciI306O6vhDlPjvZsYcGWgWoehZaDUfymYUYD7tQRjmwJxkMTmvVjDlvJIxAo6ghIZxLi1w/ypjhuf7zubGzE5KQS2aXDxsQ/ODmLAWGgXDic4WwYgQYhk/IqCJyP3Afd67ai4=
    - secure: sEA7r4p+y5azUTPQ5aWJkBRxRh8DvQsV4NktXXB+vh89n7Z5nGGcpYbj9nAVAtYYtLg436L4ejYQ+UU7K03Evc4KzBFX7Qmjfy5iSkPQKwJk5RqlO5YPI7fgfKEoW4bAOuHLu8EZRHRrbkc49yzeWIDpXgv+BhgFcjQSNCmbxAY=
    - secure: iXh/EgRUhRhIslktx4xb7K/PRs05Fz8/qcs8nhxQqW/S0WsKyjbNX6AFM2SZcJXJefsO9BgB4OswGf5fM3u8LQpPoRQunmEAqiSr5VKZdKUpfEu7KnAZT/nrJUfU9JA3wpIg+kVnT+jBvsK+GFJ/Cv8f5QGiNeUNSLAuC5n7JUU=
    - secure: FRLtiYpR5woyUAdtomptb11h61tXfXyOiyHEj9fplgRuuo+/91v1ucxykLyy1jFjpV3ZSVbUQF1tezjJfp3pFayTqojlyyg04pbNFK/oPq+PGwpyZa+LZVFm4UuIEHLjTnTbeVv2v2YTxK7EozsY/3NmCLcIYiIXNUOe6sxmq2c=
